.ques {
  width: 100%;
  min-height: calc(100vh - 144px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ques-container {
  padding: 0 100px;
  height: fit-content;
  width: fit-content;
  font-family: "Orbitron";
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
}

.ques-box {
  position: relative;
  width: fit-content;
  min-width: 60vw;
  max-width: 70vw;
  padding: 0 30px;
  background: rgba(3, 61, 80, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #58a1b9;
  backdrop-filter: blur(16px);
  border-radius: 0px 12px;
}

.question {
  font-size: large;
  text-align: justify;
  word-wrap: break-word;
}

.answer {
  width: 90%;
  height: 3rem;
  background: rgba(116, 160, 192, 0.6);
  border: none;
  border-bottom: 4px solid #58a1b9;
  border-top: 4px solid transparent;
  padding: 8px 16px;
  outline: none;
  color: white;
  font-size: 1.2rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px 12px 0 0;
}

.answer::placeholder {
  opacity: 0.6;
  color: white;
  font-family: "Orbitron";
}

.btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hint:hover {
  color: #adff2f;
}

.hint_bg:hover {
  box-shadow: 0px 0px 4px #c9fd7b;
  background: #adff2f;
}

.hint_bg.hintDisabled {
  cursor: not-allowed !important;
  box-shadow: none !important;
  background: #58a1b9 !important;
}
.hintDisabled .hint:hover {
  cursor: not-allowed !important;
  box-shadow: none !important;
  background: rgb(15, 93, 120) !important;
}

.submit:hover {
  color: #adff2f;
}

.submit_bg:hover {
  box-shadow: 0px 0px 4px #c9fd7b;
  background: #adff2f;
}

.hint_bg {
  background: #58a1b9;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  transform: translateX(15px);
  margin-top: 1rem;
  clip-path: polygon(0 30%, 100% 30%, 72% 100%, 0 100%);
}

.hint {
  clip-path: polygon(0 0, 96% 0, 72% 100%, 0 100%);
  font-family: "Orbitron";
  font-style: normal;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(15, 93, 120);
  padding: 5px;
  padding-right: 43px;
  padding-left: 27px;
  margin: 0px;
}

.submit_bg {
  padding: 4px;
  clip-path: polygon(25% 30%, 100% 30%, 100% 100%, 1% 100%);
  background: #58a1b9;
  height: fit-content;
  margin-top: 1rem;
}

.submit {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 5% 100%);
  font-family: "Orbitron";
  font-style: normal;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(15, 93, 120);
  padding: 5px;
  padding-left: 43px;
  padding-right: 27px;
  margin: 0px;
}

.round1 {
  padding-top: 0%;
}

button {
  padding-left: 30px 50px;
  cursor: pointer;
}

.round_bg {
  bottom: 30px;
  right: 70px;
  position: relative;
  background: #58a1b9;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  transform: translateX(15px);
  margin-top: 1rem;
  clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);
}

.round {
  clip-path: polygon(0 0, 96% 0, 72% 100%, 0 100%);
  font-family: "Orbitron";
  font-style: normal;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(15, 93, 120);
  padding: 5px;
  padding-right: 43px;
  padding-left: 27px;
  margin: 0px;
}

.ques-img {
  max-width: 300px;
  width: inherit;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.ques-img-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .ques-box {
    width: 90%;
    border-radius: 0px;
  }
}
@media screen and (max-width: 550px) {
  .question {
    font-size: small;
    line-height: 23px;
  }

  .answer {
    width: 90%;
    height: 1.8rem;
    background: rgba(116, 160, 192, 0.6);
    border: none;
    border-bottom: 4px solid #58a1b9;
    padding: 15px 16px;
    outline: none;
    color: white;
    font-size: 0.8rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .ques-box {
    width: 100%;
    border-radius: 0px;
  }

  .ques-container {
    padding: 0px 60px;
  }

  .hint_bg {
    width: fit-content;
    height: fit-content;
    padding: 4px;
    transform: translateX(15px);
    margin-top: 1rem;
  }

  .hint {
    padding: 5px;
    padding-right: 43px;
    padding-left: 27px;
    margin: 0px;
  }

  .submit_bg {
    padding: 4px;
    margin-top: 1rem;
  }

  .submit {
    padding: 5px;
    padding-left: 43px;
    padding-right: 27px;
    margin: 0px;
  }

  .round {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .btns {
    justify-content: center;
  }
  .ques-box {
    max-width: 90vw !important;
  }
}
@media screen and (max-width: 400px) {
  .ques-container {
    padding: 0 40px;
  }
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.9;
}

.box span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.5s ease infinite alternate;
}

@keyframes bounce {
  100% {
    top: -20px;
    /* text-shadow: 0 1px #ccc,
          0 2px #ccc,
          0 3px #ccc,
          0 4px #ccc,
          0 5px #ccc,
          0 6px #ccc,
          0 7px #ccc,
          0 8px #ccc,
          0 9px #ccc,
          0 50px 25px rgba(0, 0, 0, 0.2); */
  }
}

.box span:nth-child(2) {
  animation-delay: 0.1s;
}

.box span:nth-child(3) {
  animation-delay: 0.2s;
}

.box span:nth-child(4) {
  animation-delay: 0.3s;
}

.box span:nth-child(5) {
  animation-delay: 0.4s;
}
.box span:nth-child(6) {
  animation-delay: 0.5s;
}

.hintDisabled:hover {
  cursor: not-allowed;
}

.hintDisabled button:hover {
  cursor: not-allowed;
  filter: none !important;
}

.hintDisabled {
  opacity: 0.7;
  filter: grayscale(0.6);
  backdrop-filter: blur(8px);
}
