.bg {
  width: 100%;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  padding-top: 72px;
  min-height: 100vh;
  max-height: calc(100vh + 144px);
}

.app-container {
  width: 100%;
  height: calc(100vh - 72px);
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #9b2805;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #9b2805;
  }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px #9b2805;
  }

  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px #9b2805;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px #9b2805;
  }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px #9b2805;
  }

  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px #9b2805;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px #9b2805;
  }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px #9b2805;
  }
}