.fic {
  font-family: "Iceland", cursive;
  text-align: center;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  font-size: 12rem;
  color: #afd5ed;
  opacity: 0.9;
  margin: 0;
}

.play_now {
  display: flex;
  
}

.play {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  margin: auto;
  color: #afecff;
  text-shadow: 0 0 5px #afecff;
  margin-top: 104px;
  display: flex;
}

a {
  color: #afecff;
  text-decoration: none;
}

.arrow {
  height: 50px;
  margin-left: 10px;
  text-shadow: 0 0 5px #afecff;
}

.time {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-not-live {
  font-family: "Iceland", cursive;
  text-align: center;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
  font-size: 2rem;
  color: #edafaf;
  opacity: 0.9;
}

.landing-container {
  min-height: calc(100vh - 144px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .fic{
      font-size: 8rem;
  }
}
@media screen and (max-width: 650px) {
  .fic{
    font-size: 6rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 480px) {
  .fic{
    font-size: 4rem;
    font-weight: 600;
  }

  .play {
    font-size: 1.5rem;
    margin: auto;
    margin-top: 228px;;
    display: flex;
    font-weight: bolder;
  }

  .arrow {
    height: 30px;
    margin-left: 10px;
    text-shadow: 0 0 5px #afecff;
  }
}
@media screen and (max-width: 330px) {
  .fic{
    font-size: 3rem;
    font-weight: 600;
  }
}

