.Container {
  overflow-x: hidden;
}

.head {
  min-width: fit-content;
}
.theme-head,
.p-theme {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(150px, 30%, 400px);
  color: #e8ce32;
  font-weight: bold;
  font-family: "Iceland";
  margin-top: -16px;
  display: flex;
  margin-bottom: 0;

  text-transform: uppercase;
  text-shadow: 0 0 10px rgb(255 171 0), 0 0 20px #ff7300;
}

.p-theme {
  font-size: 4rem;
  font-family: "Iceland";
  min-width: fit-content;
  color: #e7bd32;
  font-weight: bold;
  margin: 0;
 text-shadow: 0 0 10px rgb(255 171 0), 0 0 20px #ff7300;;
}
.main-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.image-1 {
  width: 15.4vw;
  height: 22vw;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #e4a029c0;
  opacity: 0.8;
  object-fit: cover;
}
@media screen and (max-width: 1100px) {
  .main-card {
    display: flex;
    flex-direction: column;
  }
  .image-1 {
    width: 42vw;
    height: 60vw;
    margin-top: 24px;
  }
  .theme-head {
    font-size: 5rem;
    margin-top: 10px;
  }
  .p-theme {
    font-size: 2rem;
    margin-top: 5px;
  }
}
