.container {
    height: calc(100vh - 144px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .box {
    position: relative;
    width: fit-content;
    min-width: 60vw;
    padding: 30px;
    background: rgba(175, 139, 103, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #f2e0d6;
    backdrop-filter: blur(16px);
    border-radius: 0px 12px;
    font-family: "Audiowide";
    color: white;
  }
  
  .btn {
    font-family: "Audiowide", sans-serif;
    padding: 9px 29px;
    background: rgba(175, 139, 103, 1);
    border: 2px solid #f2e0d6;
    box-shadow: 0px 0px 4px #ffd2ba;
    backdrop-filter: blur(12px);
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #f2e0d6;
    margin-right: 10px;
    width: fit-content;
    margin: 12px;
  }
  
  .message {
    font-family: "Oxanium", sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 4px #9b2805, 0 0 12px #9b2805;
    font-size: 1.5rem;
    color: #f2e0d6;
    opacity: 0.9;;
  }
  
  @media (max-width: 500px) {
    .box {
      width: 80vw;
    }
  }
  