.fic{
    font-family: 'Iceland', cursive;
    text-align: center;
   
    letter-spacing: 0.1rem;
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff;
        
                
    
    font-size: 180px;
    color: #9AC8E4;
    padding-top: 20px;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
    }
    
    @-webkit-keyframes tracking-in-expand {
        0% {
            letter-spacing: -0.5em;
            opacity: 0.01;
        }
    
        40% {
            opacity: 0.4;
        }
    
        60% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    
        70% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    
        100% {
            opacity: 1;
            -webkit-transform: translateY(-22vh);
            transform: translateY(-22vh);
        }
    }
    
    @keyframes tracking-in-expand {
        0% {
            letter-spacing: -0.5em;
            opacity: 0;
        }
    
        40% {
            opacity: 0.6;
        }
    
        60% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    
        70% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    
        100% {
            opacity: 1;
            /* -webkit-transform: translateY(-22vh);
            transform: translateY(-22vh); */
        }
    
    
        
    
}
.play{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    margin-top: 5px;
    color: #AFECFF;
    padding-right: 4rem;
    text-shadow:  0 0 5px #AFECFF;
    padding-top: 130px;
    
    
}
 a{
    color: #AFECFF;
    text-decoration: none;

}