.main-nav {
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: #033d50a6;
    justify-content: space-between;
    font-family: "Orbitron", sans-serif;
    font-size: 1.7rem;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}

.rules {
    margin: 0px;
    padding: 0px;
    color: #AFECFF;
    cursor: pointer;

}

.rules:hover {
    color: #adff2f;
}

a:hover {
    color: #adff2f;
}

.si {
    font-family: "Orbitron", sans-serif;
    padding: 9px 29px;
    background: rgba(3, 61, 80, 0.4);
    border: 2px solid #58a1b9;
    box-shadow: 0px 0px 4px #65beda;
    backdrop-filter: blur(12px);
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #7bdaf9;
    margin-right: 10px;
}

.middle {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.si:hover {
    box-shadow: 0px 0px 4px #c9fd7b;
    border: 2px solid #c9fd7b;
    color: #adff2f;
}

.open {
    height: 2.5rem;
}

.open_btn {
    background: none;
    border: none;
    color: #61dafb;
    visibility: hidden;
}

.open:hover {
    color: #adff2f;
}

@media screen and (max-width: 550px) {
    .middle {
        visibility: hidden;
    }

    .open_btn {
        visibility: visible;
    }

    .si {
        font-family: "Orbitron", sans-serif;
        padding: 6px 21px;
        background: rgba(3, 61, 80, 0.4);
        border: 2px solid #58a1b9;
        box-shadow: 0px 0px 4px #65beda;
        backdrop-filter: blur(12px);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #7bdaf9;
    }

    .main-nav {
        height: 4rem;
    }
}