.img {
    width: 100%;
    height: 100vh;
    background: url("/public/leaderboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0%;
    left: 0%;
}

.leaderboardHeader {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 0.3rem;
}
.leaderboardItems {
    overflow-y: auto;
    max-height: 100vh;
}

@media screen and (max-width: 550px) {
    .leaderboardHeader {
        font-size: 30px;
    }
}
@media screen and (max-width: 550px){
    .leaderboardHeader {
        font-size: 25px;
    }
    
}
