a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: white;
}

a.facebook {
  color: white;
}

a.instagram {
  color: white;
}

.container {
  z-index: 100000000;
   position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.icons a {
  margin: 12px;
}
a.github {
  color: white;
}
.logods {
  z-index: 11111111111;
  height: 31px;
  width: 28px;
}

.icons {
  width: max-content;
}
@media screen and (max-width: 450px) {
  .icons a {
    margin: 8px;
  }
}
