.container {
  transform: translate(-25%, -40%);
}
.disabled {
  opacity: 0.7;
  filter: grayscale(0.6);
}

.container:hover {
  cursor: pointer;
}

.disabled:hover {
  cursor: not-allowed;
}

.disabled svg:hover {
  cursor: not-allowed;
  filter: none !important;
}
