.ques {
  width: 100%;
  height: 100vh;
  background: url("/public/question.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0%;
  left: 0%;
}

section {
  padding: 0 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron";
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}

.ques-box {
  position: relative;
  width: 900px;
  padding: 0 30px;
  background: rgba(3, 61, 80, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #58a1b9;
  backdrop-filter: blur(16px);
  border-radius: 0px 12px;
}

.question {
  font-size: large;
  text-align: justify;
  word-wrap: break-word;
}

.answer {
  width: 90%;
  height: 3rem;
  background: rgba(116, 160, 192, 0.6);
  border: none;
  border-bottom: 4px solid #58a1b9;
  padding: 8px 16px;
  outline: none;
  color: white;
  font-size: 1.2rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 900px;
}

.hint:hover {
  color: #adff2f;
}

.hint_bg:hover {
  box-shadow: 0px 0px 4px #c9fd7b;
  background: #adff2f;
}

.hint_bg.disabled {
  cursor: not-allowed !important;
  box-shadow: none !important;
  background: #58a1b9 !important;
}
.disabled .hint:hover {
  cursor: not-allowed !important;
  box-shadow: none !important;
  background: rgb(15, 93, 120) !important;
}

.submit:hover {
  color: #adff2f;
}

.submit_bg:hover {
  box-shadow: 0px 0px 4px #c9fd7b;
  background: #adff2f;
}

.hint_bg {
  background: #58a1b9;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  transform: translateX(15px);
  margin-top: 1rem;
  clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);
}

.hint {
  clip-path: polygon(0 0, 96% 0, 72% 100%, 0 100%);
  font-family: "Orbitron";
  font-style: normal;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(15, 93, 120);
  padding: 5px;
  padding-right: 43px;
  padding-left: 27px;
  margin: 0px;
}

.submit_bg {
  padding: 4px;
  clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%);
  background: #58a1b9;
  height: fit-content;
  margin-top: 1rem;
}

.submit {
  clip-path: polygon(23% 0, 100% 0, 100% 100%, 3% 100%);
  font-family: "Orbitron";
  font-style: normal;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(15, 93, 120);
  padding: 5px;
  padding-left: 43px;
  padding-right: 27px;
  margin: 0px;
}

::placeholder {
  color: #ffffff;
  font-family: "Orbitron";
  font-style: normal;
}

.round1 {
  padding-top: 0%;
}

button {
  padding-left: 30px 50px;
  cursor: pointer;
}

.round_bg {
  bottom: 30px;
  right: 70px;
  position: relative;
  background: #58a1b9;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  transform: translateX(15px);
  margin-top: 1rem;
  clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);
}

.round {
  clip-path: polygon(0 0, 96% 0, 72% 100%, 0 100%);
  font-family: "Orbitron";
  font-style: normal;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(15, 93, 120);
  padding: 5px;
  padding-right: 43px;
  padding-left: 27px;
  margin: 0px;
}
@media screen and (max-width: 900px){
  .ques-box {
    width: 90%;
    border-radius: 0px;
  }
  .btns {
    width: 90%;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .question {
    font-size: small;
    line-height: 23px;
  }

  .answer {
    width: 90%;
    height: 1.8rem;
    background: rgba(116, 160, 192, 0.6);
    border: none;
    border-bottom: 4px solid #58a1b9;
    padding: 15px 16px;
    outline: none;
    color: white;
    font-size: 0.8rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .ques-box {
    width: 100%;
    border-radius: 0px;
  }

  section {
    padding: 0px 60px;
  }

  .hint_bg {
    width: fit-content;
    height: fit-content;
    padding: 4px;
    transform: translateX(15px);
    margin-top: 1rem;
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);
  }

  .hint {
    clip-path: polygon(0 0, 96% 0, 72% 100%, 0 100%);
    font-family: "Orbitron";
    font-style: normal;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(15, 93, 120);
    padding: 5px;
    padding-right: 43px;
    padding-left: 27px;
    margin: 0px;
  }

  .submit_bg {
    padding: 4px;
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%);
    height: fit-content;
    margin-top: 1rem;
  }

  .submit {
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 3% 100%);
    font-family: "Orbitron";
    font-style: normal;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(15, 93, 120);
    padding: 5px;
    padding-left: 43px;
    padding-right: 27px;
    margin: 0px;
  }

  .round {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .btns {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  section {
    padding: 0 40px;
  }
}
