.container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    background-color: rgba(15, 93, 120, 0.6);
    padding: 12px 16px;
    font-family: 'Orbitron';
    backdrop-filter: blur(8px);
}

.enter {
    animation: enter 1s forwards;
}

@keyframes enter {
    0% {
        opacity: 0;
        bottom: -150px;
        display: none;
    }
    100% {
        opacity: 1;
        bottom: 50px;
        display: block;
    }

}

.leave {
    animation: leave 1s forwards;
}

@keyframes leave {
    0% {
        opacity: 1;
        bottom: 50px;
        display: block;
    }
    100% {
        opacity: 0;
        bottom: -150px;
        display: none;
    }
}