.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(11, 37, 73, 0.75);
}

.modal {
    z-index: 30;
    background: rgba(3, 61, 80, 0.906);
    border: 3px solid #58a1b9;
    border-radius: 12px;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 16px 24px;
}

@media screen and (max-width: 550px) {
    .modal {
        width: 75%;
    }
}