.rulesCont {
    background-color: #ffb84d; /* Yellow-orange background color */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rulesH2 {
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px; /* Adjust as needed */
    margin: 0;
    margin-bottom: 1.2rem;
    line-height: 45px; /* Adjust as needed */
    color: #f2e0d6; /* Dark color for better contrast */
    text-align: center;
    letter-spacing: 0.4rem;
}

.rulesCont p {
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    font-size: 18px; /* Adjust as needed */
    line-height: 24px; /* Adjust as needed */
    color: #2c2c2c; /* Dark color for better contrast */
    letter-spacing: 0.1rem;
}

.close-button {
    border: none;
    display: inline-block;
    padding: 8px 12px; /* Adjust as needed */
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff; /* White color for better visibility */
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px; /* Adjust as needed */
}



@media screen and (max-width: 550px) {
    h2 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }
}