h2 {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin: 0px;
    margin-bottom: 1.2rem;
    line-height: 75px;
    color: #ffffff;
    text-align: center;
}

p {
    font-family: "Orbitron";
    font-style: normal;
    font-size: 29px;
    line-height: 40px;
    color: #ffffff;
}

@media screen and (max-width: 550px) {
    h2 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }
}