.rulesH2 {
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 1.2rem;
    line-height: 75px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.4rem;
}

.rulesCont p {
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 550px) {
    h2 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }
}
.close-button {
  border: none;
  display: inline-block;
      padding: 1px 12px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #f2e0d6;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
 font-size: 31px;
  
}

.topright {
  position: absolute;
  right: 0;
  top: 0
}